%h1 Listing signatures

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Zip
      %th State
      %th Subscriber
      %th Created...
      %th
      %th
      %th

  %tbody.signatures_body
    - @signatures.each do |signature|
      %tr
        %td= signature.name
        %td= signature.email
        %td= signature.zip
        %td= signature.state
        %td= signature.subscriber
        %td #{time_ago_in_words signature.created_at} ago
        %td.button= link_to 'Show', signature
        %td.button= link_to 'Edit', edit_signature_path(signature)
        %td.button= link_to 'Destroy', signature, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Signature', new_signature_path
