%h1 The Internet Needs Your Help!

%img#sad_cat{src:"/images/Sad-Cat-1_s.jpg", width:265, height:179}

.explain
  %p
    Cats are about to be banned from the internet
    by a bunch of people who don't know how the internet works!

  %h4
    Do Something Quick!

  %ul
    %li Sign the petition (500pts)
    %li Leave a voicemail with your congress persons (1,000pts)
    %li Link this page to everyone you know (10,000pts!)

  .signature-form
    %h4 Sign Now!
    = render '/signatures/form'

  .signature-stats
    %h4 Did you know...
    .sig-count
      %p
        We've had
        %span#signatureCount= pluralize(@signature_count, "signature")
        so far.
        #{"Be the first!" if @signature_count == 0}
    -unless @t.count == 0
      .top-states
        %p
          The top
          =number_to_human @t.count
          most committed
          = "state".pluralize(@t.count)
          #{@t.count == 1 ? "is" : "are"}...
        %ul
          - @t.each do |state|
            %li=state
