<!DOCTYPE html>
<html>
<head>
  <title>SaveKittens</title>
  <link rel="shortcut icon" href="https://www.eff.org/sites/all/themes/frontier/favicon.ico" type="image/vnd.microsoft.icon" />
  <%= render 'layouts/env_vars_for_js' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/svg_definitions' %>
<%= render 'layouts/navigation.html.erb' %>
<body id="<%= page_id %>" class="<%= page_class %> action_page-show">
  <%= include_gon %>

  <div class="wrapper">
    <div id="content">
      <%= render 'pages/header.html.haml' %>

      <div class="container action-content" data-action-id="99">
        <div class="row">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer.html.haml' %>
  </div>
  <script>APP.pageChanged();</script>
</body>

</html>
