<!DOCTYPE html>
<html>
<head>
  <title>SaveKittens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= include_gon %>
  <%= render 'layouts/styling_left_inline' %>
  <%= csrf_meta_tags %>
</head>

<body class=" action_page-show">

  <%= render 'layouts/svg_definitions' %>
  <%= render 'layouts/navigation.html.erb' %>

  <div class="wrapper">
    <div id="content">
      <%= render 'pages/header.html.haml' %>

      <div class="container action-content" data-action-id="99">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer.html.haml' %>
  </div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
